<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Movie</h1>
	<div>
		<div class="col-md-4">
		<form th:object="${movie}" th:action="@{save}" action="#" method="post">
		  	<label for="fname">Title</label>
			<input type="text" id="title" th:field="*{title}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="lname">Year</label>
			<input type="text" id="year" th:field="*{year}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="email">Comment</label>
			<input type="text" id="comment" th:field="*{comment}" class="form-control"/>

			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="genlist">Genre</label>
			 <select id="genlist" th:field="*{genre}" class="form-control">
       			<option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
		</div>
	</div>
</body>
</html>