<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Movielist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Add or Edit comment</h1>
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <div class="col-md-4" style="padding: 20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-danger" />
        </form>
    </div>

<div>
<form action="#" th:action="@{/saveedit}" th:object="${movie}" method="post">
  <input type="text" th:field="*{comment}" />
  <input type="submit" />
</form>
		
            <a href="#" th:href="@{/movielistaus}" class="btn btn-danger" role="button">Cancel</a>
    </div>

</body>

</html>