<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Movielist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/table.css"
	th:href="@{css/table.css}" />
</head>
<body>
	<h1>Movies</h1>
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
		</form>
	</div>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Genre</th>
			<th>Comment</th>
			<th>Edit comment</th>
			<th>Delete</th>


		</tr>
		<tr th:each="movie : ${movies}">
			<td th:text="${movie.title}"></td>
			<td th:text="${movie.year}"></td>
			<td th:text="${movie.genre.name}"></td>
			<td th:text="${movie.comment}"></td>
			<td><a th:href="@{/edit/{id}(id=${movie.id})}">Edit</a></td>
			<td sec:authorize="hasRole('ADMIN')"><a	th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>

		</tr>
	</table>
	<a href="/addmovie" class="btn btn-success">Add Movie</a>
</body>
</html>